__pycache__/

wandb/

ai for later/
extra/

gui_future.py

points on track/track1_points.txt
points on track/track2_points.txt
points on track/track3_points.txt
points on track/track4_points.txt
points on track/track5_points.txt
